---
layout: default
bodyClass: "page-links"
---

<div class="intro">
    <div class="container text-center">
        {{ content }}
    </div>
</div>


<div class="container">
<div class="row">
    <div class="col-12 col-md-4 mb-3">
        <div class="link link-summary">
            <div class="link-image">
                <img width="60" height="42" alt="Youtube" class="img-fluid mb-2" src="/images/link/youtube_social_icon_red.png" />
            </div>
            <div class="link-meta">
                <h2 class="link-name"><a href="https://www.youtube.com/playlist?list=PLPbydQssYnU29zywIsFCntk9qZ6-q7_ND">Youtube</a></h2>
                <p class="link-description">Experiment Videos</p>
            </div>
        </div>
    </div>
    <!-- Add more team members here if needed -->

	<div class="col-12 col-md-4 mb-3">
		<div class="link link-summary">
		    <div class="link-image">
		        <img width="60" height="42" alt="Youtube" class="img-fluid mb-2" src="/images/link/youtube_social_icon_red.png" />
		    </div>
		    <div class="link-meta">
		        <h2 class="link-name"><a href="https://www.youtube.com/playlist?list=PLPbydQssYnU29zywIsFCntk9qZ6-q7_ND">Youtube</a></h2>
		        <p class="link-description">Experiment Videos</p>
		    </div>
		</div>
	    </div>
	</div>
</div>

