---
layout: default
bodyClass: "page-links"
---

<div class="intro">
    <div class="container text-center">
        {{ content }}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <div class="link link-summary d-flex align-items-center">
                <div class="link-image mr-2">
                    <img width="60" height="42" alt="Youtube" class="img-fluid mb-2" src="/images/link/youtube_social_icon_red.png" />
                </div>
                <div class="link-meta">
                    <h2 class="link-name"><a href="https://www.youtube.com/playlist?list=PLPbydQssYnU29zywIsFCntk9qZ6-q7_ND">Videos</a></h2>
                    <p class="link-description">Youtube</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 mb-3">
            <div class="link link-summary d-flex align-items-center">
                <div class="link-image mr-2">
                    <img width="55" height="55" alt="Github" class="img-fluid mb-2" src="/images/link/github-logo_icon-icons.com_73546.svg" />
                </div>
                <div class="link-meta">
                    <h2 class="link-name"><a href="https://github.com/S-CHOI-S">Codes</a></h2>
                    <p class="link-description">Github</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 mb-3">
            <div class="link link-summary d-flex align-items-center">
                <div class="link-image mr-2">
                    <img width="55" height="55" alt="Notion" class="img-fluid mb-2" src="/images/link/notion_logo_icon_145025.svg" />
                </div>
                <div class="link-meta">
                    <h2 class="link-name"><a href="https://pineasol.notion.site/">Portfolio</a></h2>
                    <p class="link-description">Notion</p>
                </div>
            </div>
        </div>

	<div class="col-12 col-md-4 mb-3">
            <div class="link link-summary d-flex align-items-center">
                <div class="link-image mr-2">
                    <img width="60" height="60" alt="Google Scholar" class="img-fluid mb-2" src="/images/link/Google_Scholar_logo.png" />
                </div>
                <div class="link-meta">
                    <h2 class="link-name"><a href="https://scholar.google.com/citations?view_op=list_works&hl=ko&user=fYjkNIUAAAAJ">Publications</a></h2>
                    <p class="link-description">Google Scholar</p>
                </div>
            </div>
        </div>
	    
	<div class="col-12 col-md-4 mb-3">
            <div class="link link-summary d-flex align-items-center">
                <div class="link-image mr-2">
                    <img width="60" height="60" alt="Research Tips" class="img-fluid mb-2" src="/images/link/feather-pen-svgrepo-com.svg" />
                </div>
                <div class="link-meta">
                    <h2 class="link-name"><a href="https://www.notion.so/pineasol/S-log-624ce31860574aac91f76440167f85dc?pvs=4#03bfec95a2f54ae98aeceeca6de5d441">Tips</a></h2>
                    <p class="link-description">Research Tips</p>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-4 mb-3">
            <div class="link link-summary d-flex align-items-center">
                <div class="link-image mr-2">
                    <img width="60" height="60" alt="Linkedin" class="img-fluid mb-2" src="/images/link/linkedin.png" />
                </div>
                <div class="link-meta">
                    <h2 class="link-name"><a href="https://www.linkedin.com/in/solchoi235/">LinkedIn</a></h2>
                    <p class="link-description">Social</p>
                </div>
            </div>
        </div>
    </div>
</div>

