---
layout: default
bodyClass: "page-publications"
---

<style>
  .intro {
      margin-bottom: -100px;
  }

  .publications-box {
      margin-top: -60px;
      margin-bottom: 0px;
  }

  .image-container {
      margin-top: 1em;
      margin-left: 1em;
      margin-bottom: 0em;
      flex: 1;
  }

  .text-container {
      flex: 2;
  }

  .text-section {
      margin-left: -2em;
      margin-right: 1.5em;
      font-size: 20px;
      line-height: 1.2;
  }
</style>

<div class="intro">
    <div class="container text-center">
        {{ content }}
    </div>
</div>

<div class="container pt-6 pb-6">
    <div class="row">
        <div class="publications-box" style='padding:0.1em; background-color:#FFFFFF; border: solid #FFBB5C 4px; border-radius: 10px; display: flex; align-items: center;'>
            <div class="image-container">
                <img width="300" height="300" alt="Peter Van Eijk" class="img-fluid mb-2" src="/images/icros2023.png" style='border-radius: 10px;'/>
            </div>
            <div class="text-container">
                <div class="text-section">
		    <b style="font-size: 32px;"><a href="https://www.dbpia.co.kr/journal/articleDetail?nodeId=NODE11480475">Manipulator System Based on Compliance Control For Object Manipulation</a></b> <br><br>
                    <p>
                        This sentence has five words. Here are five more words. Five-word sentences are fine. But several together bocome monotonous. Listen to what is happening. The writing is getting boring. The sound of it drones. It's like a stuck record. The ear demands some variety.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

