---
layout: default
bodyClass: "page-publications"
---

<style>
  .intro {
      margin-bottom: -100px;
  }

  .publications-box {
      margin-top: -60px;
      margin-bottom: 0px;
  }

  .image-container {
      margin-top: 1em;
      margin-left: 1em;
      margin-bottom: 0em;
      flex: 1;
  }

  .text-container {
      flex: 2;
  }

  .text-section {
      margin-left: -4em;
      margin-right: 2.5em;
      font-size: 20px;
      line-height: 1.2;
  }
</style>

<div class="intro">
    <div class="container text-center">
        {{ content }}
    </div>
</div>

<div class="year">
	<div class="container text-center">
		<h1 class="subtitle">2023Y</h1>
	</div>
</div>

<div class="container pt-6 pb-6">
    <div class="row">
        <div class="publications-box" style='padding:0.1em; background-color:#FFFFFF; border: solid #FFBB5C 3px; border-radius: 10px; display: flex; align-items: center;'>
            <div class="image-container">
                <img width="230" height="184" class="img-fluid mb-2" src="/images/icros2023.png" style='border-radius: 10px;'/>
            </div>
            <div class="text-container">
                <div class="text-section">
		    <b style="font-size: 26px;"><a href="https://www.dbpia.co.kr/journal/articleDetail?nodeId=NODE11480475">Manipulator System Based on Compliance Control For Object Manipulation</a></b> <br><br>
                    <p style="font-size: 16px;">
			<strong><u>Sol Choi</u></strong>, Seuk Seo, Sanghyeok Jung, Seung Jae Lee <br>
			2023 제어로봇시스템학회 국내학술대회 (ICROS) <span style="color:red;">[Best Paper Award-Winner]</span>
</p>
                </div>
            </div>
        </div>
    </div>
</div>

